<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<style>
    .banner {
        background-image: url("../public/images/cupcakes1600x900.png");
        width: 100%;
        height: 300px;
    }
</style>

<div class = banner></div>
<form method="post">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <button type="submit" formaction="/login" >log pā</button>

    <p th:text="${#ctx.message}"> </p>
</form>

</body>
</html>
